# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# Python compiled files
*.pyc

data/scoring/*
data/final_scoring_data_prep/*
data/meta*
